<!DOCTYPE html>
<html>
<head>
    <title>Crop Price Predictor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Crop Price Predictor</h1>

    <label>Select Crop:</label>
    <select id="crop">
        <option value="rice">Rice</option>
        <option value="wheat">Wheat</option>
        <option value="potato">Potato</option>
        <option value="onion">Onion</option>
        <option value="tomato">Tomato</option>
    </select>

    <button onclick="predictPrice()">Predict Price</button>

    <h2 id="result"></h2>
    <h3 id="recommendation"></h3>

    <h4>History</h4>
    <ul id="history"></ul>

    <script src="/static/script.js"></script>

</body>
</html>